<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="LOG_LEVEL" value="info"/>
    <property name="LOG_PATH" value="../logs/"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {"timestamp":"%d{"yyyy-MM-dd HH:mm:ss.SSS"}","log_level": "%level","thread":"%thread","line_number":"%line","message":"%replace(%msg){'\"','\\\"'}"}%n
            </pattern>
        </encoder>
    </appender>
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_PATH}/bigraph.log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="asyncFileAppender"/>
    </root>
</configuration>