<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>服务计算演化系统</title>
    <meta name="description" content="Use Redash to connect to any data source (Redshift, BigQuery, MySQL, PostgreSQL, MongoDB and many others), query, visualize and share your data to make your company data driven.">
    <meta name="keywords" content="Query, SQL, Visualize, Data, Insights, Dashboard, Alert, Alerts, web based sql client, integration, integrations, Amazong Redshift, BigQuery, PotsgreSQL, MySQL, TreasureData, MS SQL Server, MongoDB, ElasticSearch, Hive, Google Spreadsheets, Impala, InfluxDB, Presto, ScyllaDB, Cassandra, Amazon DynamoDB, Python, Vertica, Graphite, Stitch, URL">
  	<meta name="format-detection" content="telephone=no">
  	<link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-has-shadow">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a data-track data-track-location='header' href="Service.html">服务转化</a></li>
                <li><a data-track data-track-location='header' href="DCCs.html">服务偶图演化</a></li>
                <li><a data-track data-track-location='header' href="buildDC.html">服务建模</a></li>
                <li><a data-track data-track-location='header' href="buildDCCs.html">组合细胞簇建模</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
  	<main>
  	<section class="section section--hero">
          <h1 align="center">服务计算演化系统</h1>
</section><!-- section -->
      <section class="section section--hero">
    	<div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1 class="mb-xs">服务偶图转化</h1>
                <h3 class="font-light"></h3>
                <a data-track data-track-location='DC' track-event='Clicked Get Started' href="Service.html" class="btn btn-primary btn-lg">Enter</a>
            </div>
            <div class="col-md-7 hidden-xs hidden-sm">
                <div class="browser-container hidden-xs">
                    <img src="images/elements/1.png">
                </div>
            </div>
        </div>
    </div><!-- container -->
</section><!-- section -->
<section class="section section--hero">
    <div class="container">
        <div class="row">
          <div class="col-sm-5">
                <h1 class="mb-xs">服务偶图演化</h1>
                <h3 class="font-light"></h3>
                <a href="DCCs.html" class="btn btn-primary btn-lg">Enter</a>
            </div>
            <div class="col-md-7 hidden-xs hidden-sm">
           	 <div class="browser-container hidden-xs">	
                <img src="images/elements/2.png" >
               	</div>
            </div>
        </div>
    </div><!-- container -->
</section><!-- section -->
<section class="section section--hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1 class="mb-xs">服务建模</h1>
                <p class="highlight-p"></p>
               	 <a href="buildDC.html" class="btn btn-primary btn-lg">Enter</a>
            </div>
            <div class="col-md-7 hidden-xs hidden-sm">
           	 <div class="browser-container hidden-xs">	
                <img src="images/elements/3.png" >
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ssection section--hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h1 class="mb-xs">组合细胞簇演化</h1>
                <p class="highlight-p"></p>
                 <a href="buildDCCs.html" class="btn btn-primary btn-lg">Enter</a>
            </div>
            <div class="col-md-7 hidden-xs hidden-sm">
           	 <div class="browser-container hidden-xs">	
                <img src="images/elements/4.png">
                </div>
            </div>
        </div>
    </div>
</section>
  </main>
    <script>
    window.ALGOLIA = {
      applicationId: 'QFZW4KBIT0',
      searchApiKey: '1c74ec31459a537e57b2c94a01d061b7'
    }
    </script>
    <script src="javascript/vendors-270e81adaf.js"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
    <script src="javascript/main-065fec8598.js"></script>
</body>
</html>
